<article>
  <h1>
    <%= @article.title %>
    <%= link_to "Edit", edit_admin_article_path(@article), :class => "button button-small"%>
    <%= link_to "Delete", @article, :method => :delete, :confirm => "You sure?", :class => 'button button-small delete_link' %>
  </h1>
  <div class="author"> 
    Posted <%= time_ago_in_words(@article.created_at) %> ago by 
    <%= @user.firstname %> <%= @user.lastname %>
  </div>
  <!--<div id="avatar">
    <%= gravatar_for @user %>
  </div>-->
  <p> <%= raw(redcloth(@article.content)) %></p>
</article>