<%= provide(:title, 'All Articles') %>
<%= provide(:sidebar, 'articles') %>

<%= provide(:breadcrumb) do %>
  <ul class="breadcrumb">
    <li class="active">Articles</li>
  </ul>
<% end %>

<h1>All Articles <%= will_paginate %></h1>
<ul class="articles">
  <%= render @articles %>
</ul>
<%= will_paginate %>