<article>
  <h1><%= @article.title %></h1>
  <div id="avatar">
    <%= gravatar_for @user %>
  </div>
  <span class="author">
    Posted <%= time_ago_in_words(@article.created_at) %> ago by 
    <%= link_to @user.username, @user %>.
  </span>
  <p> <%= @article.content %></p>
</article>