<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
    <%= f.label :username %>
  <div class="field">
    <%= f.text_field :username %>
  </div>

  <%= f.label :email %>
  <div class="field">
  <%= f.email_field :email %>
  </div>

  <%= f.label :firstname %>
  <div class="field">
  <%= f.text_field :firstname %>
  </div>

  <%= f.label :lastname %>
  <div class="field">
  <%= f.text_field :lastname %>
  </div>

  <%= f.label :password %>
  <div class="field">
  <%= f.password_field :password %>
  </div>

  <%= f.label :password_confirmation %>
  <div class="field">
  <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Create my Account"%>

<% end %>
