<%= provide(:title, 'All users') %>
<%= provide(:sidebar, 'users') %>
<%= provide(:breadcrumb) do %>
  <ul class="breadcrumb">
    <li class="active">Users</li>
  </ul>
<% end %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>